body {
	background: white;
	color: white;
	font-family: sans-serif;
}

.box {
	padding: 1rem;
	background: rgb(11, 76, 228);
	text-align: center;
	height: 100%;
	border: solid 2px;
}

.nasted{
    background-color: green;
}